@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.aproove {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & .project_title {
        color: #fff;
        margin-bottom: 14px;

        @include haval-desc {
            margin-bottom: vw(14px, $desktop);
        }

        @include tablet {
            margin-bottom: vw(12px, $tablet);
            font-weight: 500;
            font-family: var(--font-family);
        }

        @include mobile{
            margin-bottom: vw(8px, $mobile);
        }

        & span {
            color: var(--accent-color);
        }
    }

    & .project_more {
        width: 370px;
        height: 51px;

        @include haval-desc {
            width: vw(370px, $desktop);
            height: vw(51px, $desktop);
        }

        @include tablet {
            width: vw(349px, $tablet);
            height: vw(51px, $tablet);
        }

        @include mobile{
            width: vw(234px, $mobile);
            height: vw(34px, $mobile);
        }
    }

    & small {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 115%;
        color: #fff;
        display: block;
        margin-bottom: 32px;

        @include haval-desc {
            font-size: vw(16px, $desktop);
            margin-bottom: vw(32px, $desktop);
        }

        @include tablet{
            font-size: vw(15px, $tablet);
            margin-bottom: vw(20px, $tablet);
        }

        @include mobile{
            font-size: vw(15px, $mobile);
        }
    }
}

.aproove_inner {
    min-height: 874px;
    height: 100%;
    padding: 55px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include haval-desc {
        min-height: vw(874px, $desktop);
        padding: vw(55px, $desktop) 0;
    }

    @include tablet{
        min-height: vw(640px, $tablet);
        padding: vw(40px, $tablet) 0;
    }

    @include mobile{
        min-height: vw(640px, $mobile);
        padding: vw(16px, $mobile) 0 vw(32px, $mobile);
    }
}