@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.benefits {
    background: #121314;
    overflow: hidden;

    & .grid-row {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: 70px 0px 80px;


        @include haval-desc {
            padding: vw(70px, $desktop) 0 vw(80px, $desktop);
        }

        @include tablet {
            grid-template-columns: 1fr;
            padding: vw(60px, $tablet) 0 vw(40px, $tablet);
            position: relative;
        }
    }

    & .project_title {
        color: var(--accent-color);

        @include tablet {
            max-width: vw(500px, $tablet);
            margin-bottom: vw(20px, $tablet);
        }
    }

    & .img-wrap {
        width: 100%;
        height: 100%;
        position: relative;

        @include tablet{
            position: static;
        }
    }
}

.benefits_image {
    position: absolute;
    bottom: -80px;
    left: -60px;
    z-index: 1;
    width: 100vw;
    max-width: 664px;

    @include haval-desc {
        bottom: vw(-80px, $desktop);
        left: vw(-60px, $desktop);
        max-width: vw(664px, $desktop);
    }

    @include tablet{
        bottom: 0;
        max-width: vw(378px, $tablet);
        height: vw(410px, $tablet);
        left: vw(-58px, $tablet);
    }
}

.benefits_description {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 54px;

    @include haval-desc {
        margin-bottom: vw(54px, $desktop);
        font-size: vw(16px, $desktop);
    }

    @include tablet {
        margin-bottom: vw(42px, $tablet);
        font-size: vw(15px, $tablet);
    }
}

.benefits_item_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include haval-desc {
        gap: vw(30px, $desktop);
    }

    @include tablet {
        gap: vw(20px, $tablet);
        padding-left: vw(320px, $tablet);
        grid-template-columns: 1fr;
    }

    & dl:last-child {
        grid-column: 2 span;

        @include tablet {
            grid-column: unset;
        }
    }

    & dl {
        display: flex;
        align-items: center;
        gap: 20px;

        @include haval-desc {
            gap: vw(20px, $desktop);
        }

        @include tablet {
            gap: vw(16px, $tablet);
            align-items: flex-start;
        }

        & .flex-column {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @include haval-desc {
                gap: vw(5px, $desktop);
            }

            @include tablet {
                gap: vw(5px, $tablet);
            }
        }

        & span {
            opacity: 0.6;
            font-weight: 500;
            font-size: 14px;
            color: #fff;

            @include haval-desc {
                font-size: vw(14px, $desktop);
            }

            @include tablet{
                font-size: vw(13px, $tablet);
            }
        }
    }

    & dt {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--accent-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        @include haval-desc {
            width: vw(50px, $desktop);
            height: vw(50px, $desktop);
        }
        @include tablet {
            width: vw(50px, $tablet);
            height: vw(50px, $tablet);
        }
    }

    & dd {
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        margin: 0;

        @include haval-desc {
            font-size: vw(16px, $desktop);
        }
        @include tablet {
            font-size: vw(16px, $tablet);
        }
    }
}