@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.disklaimer {}

.disklaimer_title {
    display: flex;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: -0.01em;
    color: #626970;
    align-items: center;
    gap: 6px;

    @include haval-desc{
        margin-bottom: vw(10px , $desktop);
        font-size: vw(16px , $desktop);
        gap: vw(6px , $desktop);
    }

    @include tablet{
        margin-bottom: vw(10px , $tablet);
        font-size: vw(16px , $tablet);
        gap: vw(6px , $tablet);
    }
}

.disklaimer_title svg {
    transition: transform 0.4s linear;
    transform: rotate(180deg);
}

.accordion_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s linear;

    & p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #626970;
        padding-bottom: 10px;
        margin: 0;

        @include haval-desc{
            padding-bottom: vw(14px , $desktop);
            font-size: vw(14px , $desktop);
        }
        @include tablet{
            padding-bottom: vw(14px , $tablet);
            font-size: vw(14px , $tablet);
        }
    }
}

.accordion_content ol {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;

    @include haval-desc{
        padding-left: vw(20px , $desktop);
    }

    @include tablet{
        padding-left: vw(20px , $tablet);
    }

    & li{
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #626970;

        @include haval-desc{
            font-size: vw(14px , $desktop);
        }

        @include tablet{
            font-size: vw(14px , $tablet);
        }
    }

    & p {
        padding: 0px 0px 10px 0px;
        margin: 0;
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #626970;

        @include haval-desc{
            padding: 0 0 vw(10px , $desktop) 0;
            font-size: vw(14px , $desktop);
        }

        @include tablet{
            padding: 0 0 vw(10px , $tablet) 0;
            font-size: vw(14px , $tablet);
        }
    }

    & li+li {
        margin-top: 10px;

        @include haval-desc{
            margin-top: vw(10px , $desktop);
        }

        @include tablet{
            margin-top: vw(10px , $tablet);
        }
    }
}

/* Стили для открытого состояния */
.accordion.active .disklaimer_title svg {
    transform: rotate(0);
}

.accordion.active .accordion_content {
    max-height: 10000px;
    /* Большое значение для вмещения контента */
    padding-bottom: 15px;

    @include haval-desc{
        padding-bottom: vw(15px , $desktop);
    }

    @include tablet{
        padding-bottom: vw(15px , $tablet);
    }

}