@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.footer {
    position: relative;

    & .container {
        padding-top: 60px;
        padding-bottom: 25px;

        @include haval-desc {
            padding-top: vw(60px, $desktop);
            padding-bottom: vw(25px, $desktop);
        }

        @include tablet {
            padding-top: vw(80px, $tablet);
            padding-bottom: vw(27px, $tablet);
        }
    }
}

.footer_bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;

    & svg {
        @include tablet {
            height: 100%;
            min-height: vw(488px, $tablet);
        }
    }

}

.footer_to_top {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;
}

.footer_top {
    display: flex;
    gap: 57px;

    @include haval-desc {
        gap: vw(57px, $desktop);
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: vw(24px, $tablet);
    }

    & nav {
        @include tablet {
            order: -1;
            grid-column: 2 span;
        }
    }

    & ul {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include haval-desc {
            font-size: vw(16px, $desktop);
            gap: vw(16px, $desktop);
        }

        @include tablet {
            font-size: vw(16px, $tablet);
            gap: vw(16px, $tablet);
        }

    }

    & li {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #121314;

        @include haval-desc {
            font-size: vw(16px, $desktop);
        }

        @include tablet {
            font-size: vw(16px, $tablet);
        }
    }
}

.footer_center {
    display: flex;
    gap: 20px;

    @include haval-desc {
        gap: vw(20px, $desktop);
    }

    & ul {
        padding-left: 0;
        gap: 0;
    }
}

.footer_phone {
    & a {
        font-weight: 700;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #121314;

        @include haval-desc {
            font-size: vw(16px, $desktop);
        }

        @include tablet {
            font-size: vw(16px, $tablet);
        }
    }
}

.footer_menu {
    margin-left: 60px;
    display: grid !important;
    grid-template-columns: auto 1fr !important;
    gap: 20px !important;
    column-gap: 40px !important;

    @include haval-desc {
        margin-left: vw(60px, $desktop);
        gap: vw(20px, $desktop) !important;
        column-gap: vw(40px, $desktop) !important;
    }

    @include tablet {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        column-gap: unset !important;
        gap: vw(25px, $tablet);
        margin-left: 0;
    }

    & a {
        font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #626970;

        @include haval-desc {
            font-size: vw(16px, $desktop);
        }

        @include tablet {
            font-size: vw(16px, $tablet);
        }
    }
}

.footer_medium {
    margin-top: 37px;
    display: grid;
    grid-template-columns: 305px 1fr;
    gap: 96px;

    @include haval-desc {
        margin-top: vw(37px, $desktop);
        gap: vw(96px, $desktop);
        grid-template-columns: vw(305px, $desktop) 1fr;
    }

    @include tablet {
        margin-top: vw(24px, $tablet);
        gap: vw(51px, $tablet);
        grid-template-columns: vw(305px, $tablet) 1fr;
    }

    & p {
        margin: 0;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 11px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #626970;
        opacity: 0.5;

        @include haval-desc {
            font-size: vw(11px, $desktop);
        }

        @include tablet {
            font-size: vw(11px, $tablet);
        }
    }
}

.footer_logo {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include haval-desc {
        gap: vw(4px, $desktop);
    }

    @include tablet {
        gap: vw(4px, $tablet);

    }

    & span {
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #02204f;
        opacity: 0.5;

        @include haval-desc {
            font-size: vw(14px, $desktop);
        }

        @include tablet {
            font-size: vw(14px, $tablet);
            opacity: 1;
        }
    }
}

.footer_bottom {
    margin-top: 27px;
    display: grid;
    grid-template-columns: 300px 1fr 300px;

    @include haval-desc {
        margin-top: vw(27px, $desktop);
        grid-template-columns: vw(300px, $desktop) 1fr vw(300px, $desktop);
    }

    @include tablet {
        display: flex;
        gap: vw(10px, $tablet);
        margin-top: vw(24px, $tablet);
    }

    & small,
    & a {
        flex-basis: calc(33.3%);

        @include tablet {
            flex-basis: unset;
        }
    }

    & a {
        display: block;
        margin: 0 auto;
    }

    & small {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 12px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #626970;
        opacity: 0.5;

        @include haval-desc {
            font-size: vw(12px, $desktop);
        }

        @include tablet {
            font-size: vw(12px, $tablet);
        }

        &:first-child {
            padding-left: 15px;

            @include haval-desc {
                padding-left: vw(15px, $desktop);
            }

            @include tablet {
                padding-left: 0;
            }
        }

        &:last-child {
            display: block;
            margin-left: auto;
        }

        & span {
            text-decoration: underline;
        }
    }
}

.footer_botom_politics {
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #626970;
    opacity: 0.5;

    @include haval-desc {
        font-size: vw(12px, $desktop);
    }

    @include tablet {
        font-size: vw(12px, $tablet);

    }
}