@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.header {
    padding: 17px 0;

    @include haval-desc {
        padding: vw(17px, $desktop) 0;
    }

    @include tablet {
        padding: vw(12px, $tablet) 0;
    }

    @include mobile{
        padding: vw(10px, $mobile) 0;
    }

    &.active .header_burger {
        & span:nth-child(1) {
            transform: translateY(vw(5px, $mobile)) rotate(45deg); 
        }

        & span:nth-child(2) {
            opacity: 0; 
        }

        & span:nth-child(3) {
            transform: translateY(vw(-5px, $mobile)) rotate(-45deg); 
        }
    }

    &.active .header_center{
        transform: rotateX(0);
    }
}

.header_inner {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    @include haval-desc {
        gap: vw(20px, $desktop);
    }

    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: vw(12px, $tablet);
    }
    @include mobile{
        display: flex;
        gap: vw(8px, $mobile);
        justify-content: space-between;
    }
}
.header_burger{
    display: none;
    border: none;
    background-color: transparent;
    height: vw(14.7px , $mobile);

    @include mobile{
        display: flex;
        flex-direction: column;
        gap: vw(3px, $mobile);
    }

    & span{
        width: vw(19.2px, $mobile);
        height: vw(1.8px, $mobile);
        background-color: black;
        flex-shrink: 0;
        transition: transform 0.3s linear; 

    }
}

.header_left {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 145%;
    letter-spacing: -0.01em;
    color: #02204f;

    @include haval-desc {
        gap: vw(4px, $desktop);
        font-size: vw(14px, $desktop);
    }

    @include tablet {
        gap: vw(4px, $tablet);
        font-size: vw(14px, $tablet);
    }
    @include mobile{
        gap: vw(3px, $mobile);
        font-size: vw(8px, $mobile);
    }
  

    & svg {
        width: 118px;
        height: 14px;

        @include haval-desc {
            width: vw(118px, $desktop);
            height: vw(14px, $desktop);
        }

        @include tablet {
            width: vw(118px, $tablet);
            height: vw(14px, $tablet);
        }
        @include mobile{
            width: vw(74px, $mobile);
            height: vw(9px, $mobile);
        }
    }
}

.header_center {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 4px;
    column-gap: 30px;

    @include haval-desc {
        gap: vw(4px, $desktop);
        column-gap: vw(30px, $desktop);
    }

    @include tablet {
        order: 10;
        grid-column: 2 span;
        display: flex;
        justify-content: space-between;
        gap: vw(8px, $tablet);
    }

    @include mobile{
        position: absolute;
        width: 100%;
        top: vw(49px, $mobile);
        left: 0;
        right: 0;
        z-index: 10;
        background: #fff;
        display: flex;
        flex-direction: column;
        gap: vw(20px , $mobile);
        padding: vw(40px, $mobile) vw(60px, $mobile);
        transition: all 0.3s linear;
        transform-origin: 0 0;
        transform: rotateX(-90deg);
    }

    & .--info {
        display: grid;
        grid-template-columns: 12px 1fr;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #1d1f20;

        @include haval-desc {
            grid-template-columns: vw(12px, $desktop) 1fr;
            gap: vw(8px, $desktop);
            font-size: vw(14px, $desktop);
        }

        @include tablet {
            grid-template-columns: vw(12px, $tablet) 1fr;
            gap: vw(8px, $tablet);
            font-size: vw(14px, $tablet);
        }

        @include mobile{
            grid-template-columns: vw(12px, $mobile) 1fr;
            gap: vw(8px, $mobile);
            font-size: vw(14px, $mobile);
        }

        & img,
        & svg {
            width: 12px;
            height: 12px;
            flex-shrink: 0;

            @include haval-desc {
                width: vw(12px, $desktop);
                height: vw(12px, $desktop);
            }

            @include tablet {
                width: vw(12px, $tablet);
                height: vw(12px, $tablet);
            }

            @include mobile{
                width: vw(12px, $mobile);
                height: vw(12px, $mobile);
            }
        }
    }
}

.header_center_map {
    grid-row: 2 span;
    grid-column: 2;
}

.header_right{
    @include tablet{
        display: flex;
        justify-content: flex-end;
    }
}