@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.hero {
    position: relative;

    & .embla__slide {
        width: 1366px;
        height: 688px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @include haval-desc {
            width: vw(1366px, $desktop);
            height: vw(688px, $desktop);
        }

        @include tablet {
            width: vw(768px, $tablet);
            height: vw(540px, $tablet);
        }

        @include mobile{
            width: vw(375px, $mobile);
            height: vw(322px, $mobile);
        }
    }

    & .embla__controls {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: 1;
        transform: translateY(-50%);
        width: 100%;
    }

    & .embla__buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .embla__button {
        border-radius: 4px 0 0 4px;
        width: 32px;
        height: 76px;
        background: rgba(29, 31, 32, 0.3);
        border: none;
        cursor: pointer;

        @include haval-desc {
            width: vw(32px, $desktop);
            height: vw(76px, $desktop);
            border-radius: vw(4px, $desktop) 0 0 vw(4px, $desktop);
        }

        @include tablet {
            display: none;
        }

        & svg {
            width: 15px;
            height: 28px;

            @include haval-desc {
                width: vw(15px, $desktop);
                height: vw(28px, $desktop);
            }

            & path {
                fill: white;
            }
        }

        // transform: rotate(-180deg);
    }
}

// height: vw(688px, $desktop);
// width: vw(1366px, $desktop);

.hero_title {
    margin: 0;
    padding-top: 60px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 54px;
    line-height: 115%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;

    @include haval-desc {
        padding-top: vw(60px, $desktop);
        font-size: vw(54px, $desktop);
        margin-bottom: vw(10px, $desktop);
    }

    @include tablet{
        padding-top: vw(40px, $tablet);
        font-size: vw(40px, $tablet);
        margin-bottom: 0;
    }

    @include mobile{
        padding-top: vw(20px, $mobile);
        font-size: vw(24px, $mobile);
    }
}

.hero_desc {
    font-weight: 500;
    font-size: 48px;
    color: #fff;
    display: block;

    @include haval-desc {
        font-size: vw(48px, $desktop);
    }

    @include tablet{
        font-size: vw(32px, $tablet);
    }

    @include mobile{
        font-size: vw(19px, $mobile);
    }

    & +.hero_action{
        @include tablet{
            margin-top: vw(8px , $tablet);
        }

        @include mobile{
            margin-top: vw(0px, $mobile);
        }
    }
}

.hero_action p {
    font-weight: 500;
    font-size: 24px;
    display: block;
    color: #fff;

    @include haval-desc {
        font-size: vw(24px, $desktop);
    }
     @include tablet {
        font-size: vw(20px, $tablet);
        margin: 0;
        margin-bottom: vw(20px, $tablet);
    }
    @include mobile{
        font-size: vw(13px, $mobile);
    }
}