@use "../functions" as *;
@use "../mixins/breakpoint" as *;

#map {
    width: 1174px !important;
    height: 615px !important;
    border: 1px solid rgba(98, 105, 112, 0.2);
    border-radius: 12px;
    overflow: hidden;

    @include haval-desc {
        border-radius: vw(12px, $desktop);
        border-width: vw(1px, $desktop);
        width: var(--content-width) !important;
        height: vw(615px, $desktop) !important;
    }

    @include tablet {
        border-radius: vw(12px, $tablet);
        border-width: vw(1px, $tablet);
        height: vw(420px, $tablet) !important;
    }

    @include mobile{
        border-radius: vw(12px, $mobile);
        border-width: vw(1px, $mobile);
        height: vw(420px, $mobile) !important;
    }
}

.map {

    @include tablet{
        margin-bottom: vw(268px, $tablet);
    }

    @include mobile{
        margin-bottom: vw(508px, $mobile);
    }


    & .container {
        position: relative;
    }

    & .project_title{
        @include tablet{
            margin-bottom: vw(20px, $tablet);
        }

        @include mobile{
            margin-bottom: vw(20px, $mobile);
        }
    }
}

.map_info {
    position: absolute;
    bottom: 50px;
    right: 100px;
    z-index: 2;
    border: 1px solid rgba(98, 105, 112, 0.5);
    border-radius: 12px;
    background: #fff;
    padding: 40px;

    @include haval-desc {
        border-radius: vw(12px, $desktop);
        border-width: vw(1px, $desktop);
        padding: vw(40px, $desktop);
        bottom: vw(50px, $desktop);
        right: vw(100px, $desktop);
    }

    @include tablet {
        border-radius: vw(12px, $tablet);
        border-width: vw(1px, $tablet);
        padding: vw(32px, $tablet);
        bottom: vw(-188px, $tablet);
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: vw(40px, $tablet);
        align-items: start;
        min-width: vw(608px, $tablet);
        min-height: vw(304px, $tablet);
    }
    
    @include mobile{
        border-radius: vw(12px, $mobile);
        border-width: vw(1px, $mobile);
        padding: vw(32px, $mobile) vw(20px, $mobile);
        bottom: vw(-420px, $mobile);
        display: flex;
        flex-direction: column;
        min-width: vw(311px, $mobile);
        min-height: vw(501px, $mobile);
    }

    & dl {
        display: flex;
        gap: 5px;
        margin-bottom: 16px;
        align-items: center;

        @include haval-desc {
            gap: vw(5px, $desktop);
            margin-bottom: vw(16px, $desktop);
        }

        @include tablet {
            gap: vw(8px, $tablet);
            margin-bottom: 0;
            margin-top: vw(-15px, $tablet);
        }

        @include mobile{
            gap: vw(8px, $mobile);
            margin-top: vw(12px, $mobile);
        }

        & dt {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                width: 14px;
                height: 15px;

                @include haval-desc {
                    width: vw(14px, $desktop);
                    height: vw(15px, $desktop);
                }

                @include tablet {
                    width: vw(14px, $tablet);
                    height: vw(14px, $tablet);
                }

                @include mobile{
                    width: vw(14px, $mobile);
                    height: vw(14px, $mobile);
                }
            }
        }

        & dd {
            font-family: var(--font-family);
            font-weight: 500;
            font-size: 16px;
            line-height: 145%;
            letter-spacing: -0.01em;
            color: #121314;

            @include haval-desc {
                font-size: vw(12px, $desktop);
            }

            @include tablet {
                font-size: vw(14px, $tablet);
            }

            @include mobile{
                font-size: vw(14px, $mobile);
            }
        }
    }

    & .grid-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        margin-bottom: 47px;

        @include haval-desc {
            gap: vw(10px, $desktop);
            margin-bottom: vw(47px, $desktop);
        }

        @include tablet {
            gap: vw(12px, $tablet);
            margin-bottom: vw(24px, $tablet);
            grid-template-columns: 1fr;
            grid-column: 2;
            grid-row: 1/6;
        }

        @include mobile{
            gap: vw(12px, $mobile);
            margin-bottom: vw(20px, $mobile);
            margin-top: vw(12px, $mobile);
            width: 100%;
        }

    }

    & .project_link {
        display: block;
        width: 100%;
        
        @include tablet{
            font-size: vw(16px, $tablet);
            margin-top: auto;
            padding-top: vw(8px, $tablet);
            padding-bottom: vw(8px, $tablet);
        }

        @include mobile{
            font-size: vw(16px, $mobile);
            padding-top: vw(8px, $mobile);
            padding-bottom: vw(8px, $mobile);
        }

        &+.project_link {
            margin-top: 16px;

            @include haval-desc {
                margin-top: vw(16px, $desktop);
            }

            @include tablet {
                margin-top: 0;
            }

            @include mobile{
                margin-top: vw(8px, $mobile);
            }
        }

        &.instock{
            @include tablet{
                padding-top: vw(7.5px, $tablet);
                padding-bottom: vw(7.5px, $tablet);
                line-height: 1.45;
            }

            @include mobile{
                padding-top: vw(7px, $mobile);
                padding-bottom: vw(7px, $mobile);
            }
        }
    }
}

@include tablet {

    .map_info_title,
    .map_info_desc,
    .map_info>dl.h-reset,
    .map_info>.project_link:not(.instock) {
        grid-column: 1;

        @include mobile{
            grid-column: unset;
        }
    }

    .map_info .grid-row,
    .map_info .project_link.instock {
        grid-column: 2;

        @include mobile{
            grid-column: unset;
        }
    }
}

.map_info_title {
    margin: 0;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: #121314;
    margin-bottom: 4px;

    @include haval-desc {
        font-size: vw(14px, $desktop);
        margin-bottom: vw(4px, $desktop);
    }

    @include tablet {
        font-size: vw(20px, $tablet);
        margin-bottom: 0;
    }

    @include mobile{
        font-size: vw(14px, $mobile);
    }
}

.map_info_desc {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: -0.01em;
    color: #121314;
    margin: 0 0 24px;

    @include haval-desc {
        font-size: vw(16px, $desktop);
        margin-bottom: vw(24px, $desktop);
    }

    @include tablet {
        font-size: vw(15px, $tablet);
        margin-bottom: vw(20px, $tablet);
        margin-top: vw(-30px, $tablet);
    }

    @include mobile{
        margin-top: 0;
        font-size: vw(15px, $mobile);
        margin-bottom: vw(20px, $mobile);
    }
}

.map_info_item_title {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;

    @include haval-desc {
        gap: vw(8px, $desktop);
        margin-bottom: vw(8px, $desktop);
    }

    @include mobile{
        margin-bottom: vw(2px, $mobile);
        gap: vw(8px, $mobile);
    }


    & span {
        color: #626970;
    }
}

.map_info_item {
    & ul {
        padding-left: 22px;

        @include haval-desc {
            padding-left: vw(22px, $desktop);
        }

        @include tablet{
            padding-left: vw(22px, $tablet);
        }

        @include mobile{
            padding-left: vw(22px, $mobile);
        }
    }
}