.models {
    margin-top: 0;
    padding-top: 230px;
    position: relative;

    & .grid-row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    & hr {
        margin: 0;
        border: none;
        height: 2px;
        background-color: #cfcfcf;
        width: 100%;
    }
}

.models_top {
    padding: 25px 0 20px;
    position: relative;

    // & .img-wrap {
    //     margin-left: -30px;
    //     margin-right: -30px;
    // }

    & img {
        width: 369px;
        height: 208px;
    }
}

.models_top_bg {
    border-radius: 12px 12px 0 0;
    width: 371px;
    height: 204px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
}

.models_title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 15px;
    padding: 0 30px;
}

.models_bottom_price {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 115%;
    color: #121314;
    margin-top: 22px;
    margin-bottom: 20px;
}

.models_bottom dl {
    display: flex;
    align-items: center;
    gap: 10px;

    &:not(:last-child) {
        margin-bottom: 15px;
    }

    & dt {
        width: 20px;
        height: 20px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    & dd {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.01em;
        color: #121314;
        position: relative;

        & small{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            transform: translate3d(100%, -50%, 0);
        }
    }
}

.models_bottom_money{
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M13.8471%200.765384H11.7205C11.5033%200.524454%2011.238%200.331827%2010.9416%200.199979C10.6452%200.0681302%2010.3245%200%2010.0001%200C9.67572%200%209.35496%200.0681302%209.05859%200.199979C8.76222%200.331827%208.49685%200.524454%208.27966%200.765384H6.15308C6.02781%200.766029%205.90458%200.797171%205.79405%200.856118C5.68351%200.915065%205.589%201.00004%205.51867%201.10371C5.44834%201.20737%205.40431%201.32661%205.3904%201.4511C5.37648%201.5756%205.39309%201.70161%205.43879%201.81824L6.15308%203.84168H13.8468L14.5611%201.81824C14.6068%201.70161%2014.6234%201.5756%2014.6095%201.4511C14.5956%201.32661%2014.5516%201.20737%2014.4812%201.10371C14.4109%201.00004%2014.3164%200.915065%2014.2059%200.856118C14.0953%200.797171%2013.9721%200.766029%2013.8468%200.765384H13.8471Z%22%20fill%3D%22%2300CABF%22%20%2F%3E%0A%20%20%3Cpath%20d%3D%22M14.1663%205.38281H5.83374C5.83374%205.38281%200%209.99826%200%2015.3846C0%2018.4609%202.50858%2020%204.16659%2020H15.8335C17.4984%2020%2020.0001%2018.4609%2020.0001%2015.3846C20.0001%209.99826%2014.1663%205.38281%2014.1663%205.38281ZM12.872%2013.3368C12.5498%2013.7511%2012.0629%2014.0078%2011.4115%2014.1068C11.2698%2014.1247%2011.1414%2014.1363%2011.0263%2014.1414C10.912%2014.1468%2010.8343%2014.1494%2010.7952%2014.1494H9.18061V14.8877H11.6718V15.8917H9.18061V16.9326H7.9006V15.8917H7.14117V14.8877H7.9006V14.1494H7.14117V13.0554H7.9006V9.28568H10.7952C10.8343%209.28568%2010.9112%209.2874%2011.0263%209.29083C11.1553%209.29581%2011.2839%209.30821%2011.4115%209.32797C11.8496%209.3954%2012.2134%209.54235%2012.5029%209.76883C12.7893%209.99256%2013.011%2010.2884%2013.1455%2010.626C13.2886%2010.9886%2013.3598%2011.3756%2013.3552%2011.7654C13.3552%2012.398%2013.1941%2012.9218%2012.872%2013.3368Z%22%20fill%3D%22%2300CABF%22%20%2F%3E%0A%20%20%3Cpath%20d%3D%22M11.7274%2010.8139C11.6051%2010.6792%2011.4396%2010.5854%2011.2308%2010.5325C11.1397%2010.508%2011.0462%2010.4937%2010.952%2010.4899C10.8581%2010.487%2010.7884%2010.4856%2010.7428%2010.4856H9.18054V13.057H10.7428C10.8%2013.057%2010.8699%2013.0544%2010.9525%2013.049C11.047%2013.0417%2011.1404%2013.0248%2011.2314%2012.9985C11.5251%2012.9171%2011.7376%2012.7693%2011.8688%2012.555C12.0001%2012.3407%2012.0655%2012.0903%2012.0651%2011.8036C12.0645%2011.6264%2012.0387%2011.4503%2011.9883%2011.2805C11.9383%2011.107%2011.849%2010.9473%2011.7274%2010.8139Z%22%20fill%3D%22%2300CABF%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.models_bottom_tradein{
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M14.4883%205.01847L6.44173%200.0642063C6.37644%200.0239127%206.30158%200.00178277%206.22488%200.000103274C6.14817%20-0.00157622%206.07241%200.0172556%206.00542%200.0546529C5.93844%200.0920502%205.88265%200.146656%205.84382%200.212829C5.805%200.279002%205.78455%200.354341%205.78459%200.431062V2.58134C5.78444%202.72597%205.73407%202.86607%205.6421%202.97769C5.55012%203.08931%205.42224%203.16553%205.2803%203.19334C2.69232%203.70505%20-0.862526%205.18133%200.189469%2010.5204C0.198582%2010.5659%200.221323%2010.6076%200.25467%2010.6398C0.288017%2010.6721%200.33039%2010.6934%200.376159%2010.701C0.421928%2010.7086%200.468926%2010.7021%200.510906%2010.6824C0.552886%2010.6626%200.58786%2010.6306%200.611182%2010.5904C1.44232%209.17931%203.14689%207.44503%205.25916%207.7856C5.40573%207.80917%205.53911%207.88416%205.63539%207.99715C5.73168%208.11014%205.78457%208.25372%205.78459%208.40217V10.3593C5.7846%2010.436%205.80509%2010.5113%205.84393%2010.5774C5.88278%2010.6436%205.93857%2010.6981%206.00555%2010.7355C6.07253%2010.7729%206.14827%2010.7917%206.22495%2010.79C6.30162%2010.7883%206.37646%2010.7662%206.44173%2010.7259L14.4888%205.7519C14.5513%205.71321%2014.6028%205.65919%2014.6386%205.59499C14.6743%205.53078%2014.693%205.4585%2014.693%205.38502C14.6929%205.31155%2014.6741%205.2393%2014.6382%205.17515C14.6024%205.11099%2014.5508%205.05706%2014.4883%205.01847Z%22%20fill%3D%22%2300CABF%22%20%2F%3E%0A%20%20%3Cpath%20d%3D%22M5.51171%2014.9808L13.5582%2019.9351C13.6235%2019.9754%2013.6984%2019.9975%2013.7751%2019.9992C13.8518%2020.0009%2013.9276%2019.9821%2013.9945%2019.9447C14.0615%2019.9073%2014.1173%2019.8527%2014.1561%2019.7865C14.195%2019.7203%2014.2154%2019.645%2014.2154%2019.5682V17.418C14.2155%2017.2733%2014.2659%2017.1332%2014.3579%2017.0216C14.4499%2016.91%2014.5777%2016.8338%2014.7197%2016.806C17.3077%2016.2943%2020.8625%2014.818%2019.8105%209.47886C19.8014%209.43337%2019.7786%209.39173%2019.7453%209.35947C19.712%209.32722%2019.6696%209.30587%2019.6238%209.29827C19.578%209.29068%2019.531%209.29719%2019.4891%209.31694C19.4471%209.33669%2019.4121%209.36876%2019.3888%209.40886C18.5577%2010.82%2016.8531%2012.5543%2014.7408%2012.2137C14.5942%2012.1901%2014.4609%2012.1151%2014.3646%2012.0022C14.2683%2011.8892%2014.2154%2011.7456%2014.2154%2011.5971V9.64001C14.2154%209.56331%2014.1949%209.48801%2014.156%209.42187C14.1172%209.35574%2014.0614%209.30118%2013.9944%209.26381C13.9274%209.22645%2013.8517%209.20764%2013.775%209.20933C13.6983%209.21103%2013.6235%209.23315%2013.5582%209.27343L5.51114%2014.2474C5.44867%2014.2861%205.39712%2014.3401%205.3614%2014.4043C5.32567%2014.4685%205.30695%2014.5408%205.30701%2014.6143C5.30706%2014.6878%205.3259%2014.76%205.36173%2014.8242C5.39755%2014.8883%205.44918%2014.9422%205.51171%2014.9808Z%22%20fill%3D%22%2300CABF%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.models_bottom_gift{
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20d%3D%22M10%203.38306C13.6533%203.38306%2016.6169%206.34663%2016.6169%209.9999C16.6169%2011.7548%2015.9197%2013.4378%2014.6788%2014.6787C13.4379%2015.9196%2011.7549%2016.6167%2010%2016.6167C6.34636%2016.6167%203.38318%2013.654%203.38318%209.9999C3.38318%208.24501%204.08031%206.56199%205.32121%205.32109C6.56211%204.08019%208.24513%203.38306%2010%203.38306ZM10.9957%203.91746L10.7785%207.48005C10.7713%207.60113%2010.7979%207.72182%2010.8554%207.82861C10.9129%207.93541%2010.999%208.02407%2011.1041%208.08469C11.2091%208.1453%2011.329%208.17546%2011.4502%208.17178C11.5715%208.16811%2011.6893%208.13075%2011.7905%208.06389L14.7665%206.09518C13.817%204.93246%2012.4749%204.1572%2010.9933%203.91552L10.9957%203.91746ZM15.7664%207.82024L12.572%209.41606C12.4642%209.47078%2012.3736%209.55429%2012.3103%209.65735C12.2471%209.7604%2012.2136%209.87897%2012.2136%209.9999C12.2136%2010.1208%2012.2471%2010.2394%2012.3103%2010.3425C12.3736%2010.4455%2012.4642%2010.529%2012.572%2010.5837L15.7664%2012.1796C16.2947%2010.7754%2016.2947%209.22712%2015.7664%207.82296V7.82024ZM14.7688%2013.9042L11.7905%2011.9351C11.6893%2011.8681%2011.5715%2011.8306%2011.4502%2011.8269C11.3289%2011.8231%2011.2089%2011.8533%2011.1038%2011.9139C10.9987%2011.9746%2010.9126%2012.0633%2010.8551%2012.1702C10.7976%2012.2771%2010.7711%2012.3978%2010.7785%2012.519L10.9953%2016.0808C12.4763%2015.8382%2013.8178%2015.0631%2014.7677%2013.9011L14.7688%2013.9042ZM9.00399%2016.0839L9.22157%2012.5205C9.2288%2012.3995%209.20217%2012.2788%209.14466%2012.172C9.08716%2012.0652%209.00105%2011.9765%208.89599%2011.9159C8.79093%2011.8553%208.67107%2011.8251%208.54983%2011.8288C8.4286%2011.8325%208.31078%2011.8698%208.20958%2011.9367L5.23395%2013.9058C6.18353%2015.0681%207.52514%2015.8432%209.00633%2016.0855L9.00399%2016.0839ZM4.23364%2012.1796L7.42802%2010.5837C7.53636%2010.5292%207.62741%2010.4456%207.69103%2010.3423C7.75464%2010.239%207.78833%2010.12%207.78833%209.99873C7.78833%209.87742%207.75464%209.75849%207.69103%209.6552C7.62741%209.55191%207.53636%209.46831%207.42802%209.41373L4.23364%207.82024C3.70585%209.22462%203.70585%2010.7729%204.23364%2012.1772V12.1796ZM5.23084%206.09752L8.20725%208.06584C8.30842%208.13285%208.42626%208.17034%208.54756%208.17408C8.66885%208.17783%208.78878%208.14769%208.8939%208.08705C8.99901%208.02641%209.08513%207.93767%209.1426%207.83079C9.20007%207.72391%209.22661%207.60312%209.21924%207.482L9.00283%203.91941C7.52132%204.16166%206.17936%204.9368%205.22928%206.09908L5.23084%206.09752Z%22%20fill%3D%22%2300CABF%22%20%2F%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M10%200C4.47727%200%200%204.4761%200%2010C0%2015.5239%204.47727%2020%2010%2020C15.5227%2020%2020%2015.5227%2020%2010C20%204.47727%2015.5227%200%2010%200ZM10%2016.8578C8.64366%2016.8578%207.31778%2016.4556%206.19002%2015.702C5.06227%2014.9485%204.18329%2013.8775%203.66424%2012.6244C3.14519%2011.3713%203.00938%209.99239%203.27399%208.66211C3.5386%207.33184%204.19174%206.1099%205.15082%205.15082C6.1099%204.19174%207.33184%203.5386%208.66211%203.27399C9.99239%203.00938%2011.3713%203.14519%2012.6244%203.66424C13.8775%204.18329%2014.9485%205.06227%2015.702%206.19002C16.4556%207.31778%2016.8578%208.64366%2016.8578%2010C16.8578%2010.9006%2016.6804%2011.7923%2016.3358%2012.6244C15.9911%2013.4564%2015.486%2014.2124%2014.8492%2014.8492C14.2124%2015.486%2013.4564%2015.9911%2012.6244%2016.3358C11.7923%2016.6804%2010.9006%2016.8578%2010%2016.8578Z%22%20fill%3D%22%2300CABF%22%20%2F%3E%0A%3C%2Fsvg%3E");
}

.models_status{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
}