@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.quality_inner {
    display: grid;
    grid-template-columns: 472px 1fr;
    gap: 81px;

    @include haval-desc {
        gap: vw(81px, $desktop);
        grid-template-columns: vw(472px, $desktop) 1fr;
    }

    @include tablet {
        grid-template-columns: 1fr 1fr;
        gap: vw(24px, $tablet);
    }

    @include mobile {
        grid-template-columns: 1fr;
        gap: 0;
    }

    & .img-wrap {

        & img {
            border-radius: 12px;
            width: 472px;
            height: 324px;

            @include haval-desc {
                border-radius: vw(12px, $desktop);
                width: vw(472px, $desktop);
                height: vw(324px, $desktop);
            }

            @include tablet {
                border-radius: vw(12px, $tablet);
                width: vw(332px, $tablet);
                height: vw(317px, $tablet);
            }

            @include mobile {
                border-radius: vw(12px, $mobile);
                width: vw(342px, $mobile);
                height: vw(235px, $mobile);
                margin-bottom: vw(16px, $mobile);
            }
        }

        &.--desktop {
            @include mobile {
                display: none;
            }
        }

        &.--mobile {

            display: none;

            @include mobile {
                display: block;
            }
        }
    }
}

.quality {

    & .project_title {
        margin-bottom: 32px;
        text-wrap: balance;

        @include haval-desc {
            margin-bottom: vw(32px, $desktop);
        }

        @include tablet {
            margin-bottom: vw(12px, $tablet);
        }

        @include mobile{
            margin-bottom: vw(12px, $mobile);
        }
    }
}

.quality_desc {
    display: block;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 115%;
    color: #1d1f20;
    margin-bottom: 60px;

    @include haval-desc {
        // gap: vw(16px, $desktop);
        margin-bottom: vw(60px, $desktop);
        font-size: vw(16px, $desktop);
    }

    @include tablet {
        // gap: vw(16px, $tablet);
        margin-bottom: vw(30px, $tablet);
        font-size: vw(15px, $tablet);
    }

    @include mobile{
        margin-bottom: vw(28px, $mobile);
        font-size: vw(15px, $mobile);
    }
}

.quality_inner_items {
    display: flex;
    gap: 52px;
    align-items: stretch;

    @include haval-desc {
        gap: vw(52px, $desktop);
    }

    @include tablet {
        gap: vw(17px, $tablet);
        justify-content: space-between;
    }

    @include mobile{
        gap: vw(30px, $mobile);
    }

    & dl {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: calc(50% - vw(17px, $tablet));
    }

    & dt {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 33px;
        line-height: 115%;
        color: #00cabf;
        white-space: nowrap;

        @include haval-desc {
            font-size: vw(33px, $desktop);
        }

        @include tablet {
            font-size: vw(27px, $tablet);
        }

        @include mobile{
            font-size: vw(27px, $mobile);
        }
    }

    & dd {
        font-weight: 500;
        font-size: 13px;
        color: #626970;

        @include haval-desc {
            font-size: vw(13px, $desktop);
        }

        @include tablet {
            font-size: vw(12px, $tablet);
        }

        @include mobile {
            font-size: vw(11px, $mobile);
        }
    }
}