@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.special {

    & .project_title {
        margin-bottom: 28px;
        color: #fff;
        letter-spacing: -0.03px;

        @include haval-desc {
            margin-bottom: vw(28px, $desktop);
        }
    }
}

.special_wrapper {
    padding: 43px 70px;
    border-radius: 12px;
    background: #121314;

    @include haval-desc {
        padding-bottom:  vw(43px, $desktop) vw(70px, $desktop);
        border-radius:  vw(12px, $desktop);
    }
}

.special_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include haval-desc {
        gap: vw(20px, $desktop);
    }

    & .img-wrap {
        & img {
            border-radius: 12px;
            width: 502px;
            height: 417px;

            @include haval-desc {
                border-radius: vw(12px, $desktop);
                width: vw(502px, $desktop);
                height: vw(417px, $desktop);
            }
        }
    }
}

.special_inner_item {

    & p {
        margin: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: -0.01em;
        color: #fff;
        max-width: 423px;

        @include haval-desc {
            font-size: vw(16px, $desktop);
            max-width: vw(423px, $desktop);
        }

        &+p {
            margin-top: 15px;

            @include haval-desc {
                margin-top: vw(15px, $desktop);
            }
        }
    }
}

.special_inner_form {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 361px;

    @include haval-desc {
        gap: vw(16px, $desktop);
        max-width: vw(361px, $desktop);
    }


    & span,
    & label,
    & input {
        width: 100%;
    }

    & .project_input {
        &::placeholder {
            color: rgba(98, 105, 112, 0.4);
        }
    }

    & .timer_inner_form_agreement {
        font-size: 12px;
        letter-spacing: -0.03em;
        font-weight: 500;
        line-height: 125%;
        color: #bdc3c6;

        @include haval-desc {
            font-size:  vw(12px, $desktop);
        }
    }

    & small {
        font-weight: 500;
        font-size: 12px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #fff;
        opacity: 0.5;
        display: block;
        margin-top: 10px;

        @include haval-desc {
            font-size: vw(12px, $desktop);
            margin-top: vw(10px, $desktop);
        }
    }
}