.timer {
    position: absolute;
    top: -157px;
    left: 0;
    right: 0;
    // left: 50%;
    // transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    // background-image: url('data:image/svg+xml,%3Csvg%20width%3D%221174%22%20height%3D%22308%22%20viewBox%3D%220%200%201174%20308%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M80%200C68.9543%200%2060%208.9543%2060%2020V57C60%2062.5228%2055.5228%2067%2050%2067H20C8.9543%2067%200%2075.9543%200%2087V288C0%20299.046%208.95431%20308%2020%20308H1154C1165.05%20308%201174%20299.046%201174%20288V87C1174%2075.9543%201165.05%2067%201154%2067H1124C1118.48%2067%201114%2062.5229%201114%2057V20C1114%208.95431%201105.05%200%201094%200H80Z%22%20fill%3D%22white%22%20%2F%3E%0A%3C%2Fsvg%3E');
    & .project_title {
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 34px;
        line-height: 115%;
        text-align: center;
        color: var(--accent-color);
        margin: 0 0 48px;
    }
}

.timer_top {
    position: relative;
    z-index: 5;
    padding: 18px 0;
    border-radius: 20px;
    background: #fff;
    margin: 0 auto 27px;
    max-width: max-content;
    min-width: 1078px;

    & .grid-row {
        grid-template-columns: 115px 1fr;
        gap: 32px;
        align-items: center;
    }
}

.timer_top_left {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    text-align: center;
    color: #121314;
}

.timer_inner_count {
    display: flex;
    padding: 13px 87px;
    align-items: center;
    gap: 30px;
    border: 1px solid rgba(189, 195, 198, 0.7);
    border-radius: 4px;

    & strong {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 24px;
        line-height: 115%;
        color: #121314;
    }

    & span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        line-height: 115%;
        color: #121314;
    }

    & .line {
        opacity: 0.6;
        border: 1px solid #bdc3c6;
        width: 100%;
        height: 1px;
        flex-grow: 1;
    }
}
.timer_inner{
    position: relative;
    z-index: 2;
}

.timer_inner_form {
    padding: 0 61px;

    & .flex-row.--inputs {
        display: flex;
        align-items: center;
        gap: 40px;
        margin-bottom: 13px;
    }

    & .flex-row.--agreement {
        display: flex;
        justify-content: flex-end;
    }

    & span,
    & input {
        width: 100%;
        flex-grow: 1;
    }
}

.timer_inner_form_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.timer_inner_form_agreement {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #bdc3c6;
    
    & a{
        text-decoration: underline;
        text-decoration-skip-ink: none;
    }
}
.timer_border{
    position: absolute;
    bottom: 0;
    transform: translateY(20px);
    right: 6px;
    z-index: 1;
    left: 6px;
    
    & svg{
        background-color: #fff;
        border-radius: 24px;
        display: block;
        position: relative;
        height: auto;
        // width: 1174px;
        z-index: 2;
        width: calc(100% - 12px);
    }
}