@use "../functions" as *;
@use "../mixins/breakpoint" as *;

.tradein {
    & .grid-row {
        grid-template-columns: 0.88fr 1.12fr;
        gap: 130px;

        @include haval-desc{
            gap: vw(130px, $desktop);
        }
    }

    & .project_title {
        margin-bottom: 36px;

        @include haval-desc{
            margin-bottom:  vw(36px, $desktop);
        }
    }
}

.tradein_desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 115%;
    color: #1d1f20;
    margin: 0;
    margin-bottom: 22px;

    @include haval-desc{
        margin-bottom: vw(22px, $desktop);
        font-size: vw(24px , $desktop);
    }
}

.tradein_form {
    & .flex-column {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include haval-desc{
            gap: vw(10px, $desktop);
        }
    }

    & span,
    & input,
    & label,
    & select {
        width: 100%;
    }

    & .project_input {
        font-size: 15px;

        @include haval-desc{
            font-size: vw(15px, $desktop);
        }

        &::placeholder {
            color: rgba(98, 105, 112, 0.4);
        }
    }

    & .timer_inner_form_wrapper {
        justify-content: center;
    }
}

.tradein_right {
    display: flex;
    align-items: flex-end;
}

.tadein_right_background {
    border-radius: 12px;
    width: 572px;
    height: 366px;
    background: #626970;
    position: relative;
    padding: 32px;
    margin-top: 97px;


    @include haval-desc{
        border-radius: vw(12px, $desktop);
        width: vw(572px, $desktop);
        height: vw(366px, $desktop);
        padding: vw(32px, $desktop);
        margin-top: vw(97px, $desktop);
    }

    & img {
        width: 100vw;
        max-width: 614px;
        position: absolute;
        left: 23px;
        bottom: -62px;
        z-index: 1;

        @include haval-desc{
            max-width: vw(614px, $desktop);
            left: vw(23px, $desktop);
            bottom: vw(-62px, $desktop);
        }
    }
}

.tradein_right_desc {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fff;
    position: absolute;
    bottom: 32px;
    left: 32px;
    z-index: 1;

    @include haval-desc{
        font-size: vw(14px, $desktop);
        bottom: vw(32px, $desktop);
        left: vw(32px, $desktop);
    }
}