
 :root {
    // base
    --font-family: "TT Wellingtons", sans-serif;
    --second-family: "Haval", sans-serif;
    --content-width: 1173px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
    // colors
    --light-color: #fff;
    --accent-color: #00cabf;
  
  }



