@use "../functions" as *;
@use "../mixins/breakpoint" as *;

 :root {
    // base
    --font-family: "TT Wellingtons", sans-serif;
    --second-family: "Haval", sans-serif;
    --content-width: 1173px;
    --container-offset: 30px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  
    // colors
    --light-color: #fff;
    --accent-color: #00cabf;
  
  }

  @include haval-desc{

    :root{
      --content-width: vw(1173px, $desktop);
      --container-offset: vw(30px, $desktop);
    }
}