<meta charset="UTF-8">

<link rel="stylesheet" href="assets/css/style.css">

<!-- Useful meta tags -->
<style>
    @font-face {
        font-family: 'Haval';
        src: url('./assets/fonts/Haval-Medium.woff') format('woff');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Haval';
        src: url('./assets/fonts/Haval-Regular.woff') format('woff');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }
</style>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
 <link rel="shortcut icon" href="./assets/images/favicon.ico" type="image/x-icon">
<title>{{ title }}</title>


